<!DOCTYPE HTML>
<html>  
<body>

<form action="" method="post">
Name: <input type="text" ng-model="name" name="name"><br>
Lastname:<input type="text" ng-model="lastName" name="lastname"><br>
Email: <input type="text" ng-model="email" name="email"><br>
Telefono: <input type="number" min="0"  ng-model="telephone" name="telefono"><br>
Usuario: <input type="text" ng-model="username" name="usuario"><br>
Contrasena: <input type="password" ng-model="password" name="contrasena"><br>
Codigo: <input type="number min="0" ng-model="code" name="codigo"><br>
Carrera: <input type="text" ng-model="career" name="carrera"><br>
Semestre: <select ng-model="semester">
  <option value="1">1</option>
  <option value="2">2</option>
  <option value="3">3</option>
  <option value="4">4</option>
  <option value="5">5</option>
  <option value="6">6</option>
  <option value="7">7</option>
  <option value="8">8</option>
  <option value="9">9</option>
  <option value="10">10</option>

</select>
<br>

<input type="submit">
</form>

</body>
</html>
