<header class="I_header"></header>
<img src="images/UN.jpg" alt="Norte" class="Logo">
<div class="I_sesion">
<form class="I_Finicio">
<h2 class="I_sesion-cabecera"> Bienvenido a Linken-in Uninorte</h2>
User<br>
<input type="text" name ="I_user" align="middle" required autofocus><br>
Password<br>
<input type="password" name="I_passw" align="middle" required><br>
</form>
<form class="I_Fhome" action="home.html" method="URL" >
<button class="btn btn-lg btn-primary btn-block" type="submit">Log in</button>
</form>

<form class="I_Fregistro" action="registro.html" method="URL" >
<input type="submit" value="Register" align="middle">
</form>
</div> 