<!DOCTYPE html>
<html>
<head>
	<title>Register</title>
	<link rel="stylesheet" type="text/css" href="css\login.css">
</head>
<body>
<img src="UN.jpg" alt="Norte" class="Logo">
<div class="R_registro">
<h4 class="R_register-cabecera"><strong>Ingrese los siguientes campos<br>para poder pertenecer a LinkedIn Uninorte</strong></h4><br>
<form class="R_Fregistro">
First Name<br>
<input type="text" name ="R_Fname" align="middle"><br>
Last Name<br>
<input type="text" name ="R_Lname" align="middle"><br>
Email<br>
<input type="text" name ="R_email" align="middle"><br>
User<br>
<input type="text" name ="R_user" align="middle"><br>
Password<br>
<input type="password" name ="R_passw" align="middle"><br>
Career<br>
<input type="text" name ="R_career" align="middle"><br>
Semester<br>
<input type="text" name ="R_semester" align="middle"><br>
<input type="submit" value="REGISTER" ><br>
</form>
</div>

</body>
</html>
